.card{
    background-color: white;
    border-radius: 5px;
    height: 70px;
    font-size: 10px;
    cursor: grab;
    padding: 10px;
}

.card:active {
    opacity: 0.7;
    border: 1.5px solid black;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remove-button{
    width: 100px;
    font-size: 10px;    
    height: 25px;
}
